*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	border: none;
	overflow: hidden;
	background: #333;
	font: 400 normal 16px/20px 'Audiowide', 'Orbitron', 'Montserrat', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	color: whitesmoke;
}

button {
	min-width: 72px; // thumb-friendly
	min-height: 44px;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	//margin: 0.25rem 0;
	padding: 0.5rem;

	&::-moz-focus-inner {
		border: none;
	}

	&:hover, &:focus, &:active {
		outline: 0;
		color: #333 !important;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 35px;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	margin: 0.25rem 0;
	padding: 0 0.5rem;

	option {
		padding: 0.1rem;
		background: inherit;
		border: none;

		&:disabled {
			cursor: default;
		}
	}
}

a {
	color: #288edf;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin: 0.5rem 0;
}

.sidebar {
	position: fixed;
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	//box-shadow: 0 0 10px #111;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&.sidebar-top {
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		flex-flow: row nowrap;
	}

	&.sidebar-right {
		top: 0;
		right: 0;
		width: 60px;
		height: 100%;
		flex-flow: column nowrap;
	}

	&.sidebar-bottom {
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		flex-flow: row nowrap;
	}

	&.sidebar-left {
		top: 0;
		left: 0;
		width: 60px;
		height: 100%;
		flex-flow: column nowrap;
	}

	button {
		min-width: 44px;
		width: 44px;
		height: 44;
		margin: 0.5rem;
		font-size: 0.7rem;
	}
}

.module {
	position: fixed;
	top: 0.5rem;
	right: calc(0.5rem + 60px);
	min-width: 300px;
	width: 450px;
	padding: 0.8rem;
	border-radius: 5px;
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	//box-shadow: 0 0 10px #111;

	h1 {
		font-size: 1.2rem;
		margin-bottom: 0.25rem;

		&:not(:nth-of-type(1)) {
			margin-top: 1rem;
		}
	}
	label {
		display: block;
	}
}

.setting-set {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	margin: 1.25rem 0;

	label {
		display: inline-block;
		width: 60%;
	}
	input {
		flex-grow: 1;
	}
}

#splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 100;
	
	> h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #288edf;
		text-align: center;
		font-size: 6rem;
		font-family:  'Monoton', 'Audiowide', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	}
}

#surface {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 0px 0;
}
input[type=range]:focus {
	outline: none;
}

// FIREFOX

input[type=range]::-moz-range-track {
	width: 100%;
	height: 25px;
	cursor: pointer;
	border-radius: 0;
	border: 1px solid white;
	background: transparent;
}
input[type=range]::-moz-range-thumb {
	height: 25px;
	width: 25px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	background: white;
}

// WEBKIT / CHROME

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 25px;
	cursor: pointer;
	border-radius: 0;
	border: 1px solid white;
	background: #333;
}
/*
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #8080ff;
}
*/
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	background: white;
	margin-top: -2px;
}

// IE

input[type=range]::-ms-track {
	width: 100%;
	height: 25px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	border-radius: 0;
	border: 1px solid white;
	background: white; /* transparent */
}
input[type=range]::-ms-fill-upper {
	border-radius: 0;
	border: 1px solid white;
	background: transparent;
}
input[type=range]::-ms-thumb {
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	background: white;
}
/*
input[type=range]:focus::-ms-fill-lower {
	background: #0000ff;
}
input[type=range]:focus::-ms-fill-upper {
	background: #8080ff;
}
*/

/*

#D34D2E
#FF9900
#F3CF3A
#44DE43
#3DC186
#37BBBA
#4DC3FA
#B158B6
#FB6368
#F23A65

*/

$modules: (
		preset: #D34D2E,
		osc: #FF9900,
		filter: #F3CF3A,
		effect: #3DC186,
		compressor: #37BBBA,
		master: #4DC3FA,
		animation: #FB6368
);

@each $module, $color in $modules {
	#module-#{$module} {
		color: $color;
	}

	#button-#{$module} {
		color: $color;
		border: 1px solid $color;
		//background: transparentize($color, 0.95);

		&:hover, &:focus, &:active {
			background: $color;
		}
	}

	#module-#{$module} {
		color: $color;
		border: 1px solid $color;

		h1 {
			color: $color;
		}
		select, button {
			border: 1px solid $color;
		}
		button {
			&:hover, &:focus, &:active {
				background: $color;
			}
		}
		input[type=range] {
			&::-moz-range-track { border-color: $color !important; }
			&::-moz-range-thumb { background: $color !important; }
			&::-webkit-slider-runnable-track { border-color: $color !important; }
			&::-webkit-slider-thumb { background: $color !important; }
			&::-ms-fill-lower { border-color: $color !important; background: $color !important; }
			&::-ms-fill-upper { border-color: $color !important; }
			&::-ms-thumb { background: $color !important; }
		}
	}
}

#button-info {
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.5);

	&:hover, &:focus, &:active {
		background: rgba(255, 255, 255, 0.5);
	}
}

#module-info {
	width: 400px;

	.app-name {
		margin: 0.25rem 0 0;
		font-size: 2rem;
		color: #288edf;
		text-align: center;
		font-family:  'Monoton', 'Audiowide', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	}
	.app-subtitle {
		margin: 0.5rem;
		font-size: 0.8rem;
		text-align: center;
	}
	.app-version {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		color: rgba(255, 255, 255, 0.1);
	}
}
